{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.activity_name }}</span></h1>
{% else %}
  <h1 class="title">Add Activity</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Edit Activity" class="btn">
  <a href="{% url 'itineraries_detail' activity.itinerary.id %}"><button class="btn" type="button">Cancel</button></a>
</form>

<!-- MATERIALIZE TIME PICKER FOR TIME INPUT -->
<script>
  const timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    defaultTime: 'now',
    format: 'HH:MM',
    twelveHour: false
  });
</script>

{% endblock %}