body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(42, 38, 38);
  }

main {
    flex: 1 0 auto;
  }

.nav-wrapper {
  background-color: rgb(88, 206, 206);
  box-shadow: 0px 5px 5px 5px salmon;
}

nav ul a {
  transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.hover:hover {
  background-color: salmon;
  color: aqua;
  text-shadow: .5px .5px 1px rgb(0, 98, 98);
}

.left.brand-logo:hover {
  background-color: salmon;
  color: aqua;
  text-shadow: 1px 1px 2px rgb(0, 98, 98);
}

.title {
  display: grid;
  text-align: center;
  font-size: 60px;
  color: rgb(88, 206, 206);
  font-family: 'Niconne', cursive;
  font-weight: 10000;
  text-shadow:2px 2px 0px rgb(61, 133, 133), 
              3px 3px 0px rgb(32, 75, 75), 
              4px 4px 0px black,
              6px 6px 0px salmon;
}

.card {
  margin: 30px;
}

.card-content {
  background-image: linear-gradient(to right, rgba(0, 255, 255, 0.711) , salmon);
  color: rgb(254, 67, 46);
  text-shadow: 1px 1px 1.5px rgb(0, 0, 0);
  box-shadow: 7px 7px 7px 3px rgba(250, 128, 114, 0.7),
  7px 7px 7px 8px rgb(78, 231, 255);
}

.card-content:hover {
  background-image: linear-gradient(to right, salmon, rgba(0, 255, 255, 0.711));
  color: rgb(94, 255, 255);
  text-shadow: 1.5px 1.5px 2.5px rgb(0, 0, 0);
  box-shadow: 7px 7px 7px 5px rgb(88, 206, 206, 0.7),
  7px 7px 7px 12px rgba(250, 128, 114);
  transition: .3s ease-out;
}

.card-action {
  background-color: salmon;
}

.date-color,
.note-color {
  color: #fff;
}

.edit,
.delete {
  color: aqua;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    box-shadow: 3px -5px 10px aqua;
  }
  