{% extends 'base.html' %}
{% block content %}

<h1>{{itinerary.date}} Details</h1>

<div class="col s6">
    <form action="{% url 'add_activity' itinerary.id %}" method="POST">
      {% csrf_token %}
      {{ activity_form.as_p }}
      <button class="btn" type="submit">Add Activity</button>
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr><th>Time</th><th>Activity</th><th>Locations</th></tr>
      </thead>
      <tbody>
        {% for activity in itinerary.activity_set.all %}
          <tr>
            <td>{{activity.time}}</td>
            <td>{{activity.activity_name}}</td>
            <td>{{activity.locations}}</td>
            <td>
              <a href="{% url 'activities_update' activity.id %}" class="edit">Edit</a>
            </td>
            <td>
              <a href="{% url 'activities_delete' activity.id %}" class="delete">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<script>
  const timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    defaultTime: 'now',
    format: 'HH:MM',
    twelveHour: false
  });
</script>

{% endblock %}